{% extends 'basefront.html.twig' %}

{% block title %}New Depot{% endblock %}

{% block body %}
    <h1 class="text-center" >Ajouter un Depot</h1>

<div class="container shadow-lg m-5 p-5">

<style>/* Ajouter l'étoile rouge pour les champs obligatoires */
.required:before {
    content: ' *';
    color: red;
}

/* Styliser les messages d'erreur en rouge */
.text-danger {
    color: red;
}
</style>
{{ form_start(form, {'attr': { 'novalidate': 'novalidate'}}) }}

<div class="mb-3">
    {{ form_label(form.nom_depot, 'Nom du dépôt', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.nom_depot, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom du dépôt'}}) }}
    <div class="text-danger">{{ form_errors(form.nom_depot) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.localisation_depot, 'Localisation', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.localisation_depot, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'adresse'}}) }}
    <div class="text-danger">{{ form_errors(form.localisation_depot) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.capacite_depot, 'Capacité', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.capacite_depot, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la capacité'}}) }}
    <div class="text-danger">{{ form_errors(form.capacite_depot) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.unite_cap_depot, 'Unité de capacité', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.unite_cap_depot, {'attr': {'class': 'form-select'}}) }}
    <div class="text-danger">{{ form_errors(form.unite_cap_depot) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.type_stockage_depot, 'Type de stockage', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.type_stockage_depot, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le type de stockage'}}) }}
    <div class="text-danger">{{ form_errors(form.type_stockage_depot) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.statut_depot, 'Statut', {'label_attr': {'class': 'form-label required' }}) }}
    {{ form_widget(form.statut_depot, {'attr': {'class': 'form-select'}}) }}
    <div class="text-danger">{{ form_errors(form.statut_depot) }}</div>
</div>
<div class="text-center col">
<button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}


</div>
<br><br>
</div>
 {% endblock %}
