<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}ArdhiSmart{% endblock %}</title>
    <!-- plugins:css -->
	{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/jvectormap/jquery-jvectormap.css')}}">
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/owl-carousel-2/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css')}}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('Dash_Admin/assets/css/style.css')}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('Dash_Admin/assets/images/favicon.png')}}" />
    
	{% endblock %}
  
  
    
	{% block javascript %}
    <script src="{{ asset('Dash_Admin/assets/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ asset('Dash_Admin/assets/vendors/chart.js/Chart.min.js')}}"></script>
    <script src="{{ asset('Dash_Admin/assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
    <script src="{{ asset('Dash_Admin/assets/vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
    <script src="{{ asset('Dash_Admin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{ asset('Dash_Admin/assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('Dash_Admin/assets/js/off-canvas.js')}}"></script>
    
    <script src="{{ asset('Dash_Admin/assets/js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset('Dash_Admin/assets/js/misc.js')}}"></script>
    <script src="{{ asset('Dash_Admin/assets/js/settings.js') }}"></script>
    <script src="{{ asset('Dash_Admin/assets/js/todolist.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('Dash_Admin/assets/js/dashboard.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 
	  {% endblock %}
    </head>
    <body>
    {% block body %}
        <!-- Your content goes here -->
        {% endblock %}
    
  </body>
</html>